################
# Factory
################
FACTORY_IP='0.0.0.0'
# modbus port. Default port is 502
FACTORY_PORT=502
# Factory simulation True/False. Uses FactorySim2 instead of Factory
FACTORY_SIM=True

################
# Webcam
################
# Use fake Webcam stream True/False
FAKE_WEBCAM=False

################
# MQTT
################
MQTT_CLIENT_ID="my client"
MQTT_BROKER_URL="mqtt.example.com"
# mqtt port. Default ports are 1883, 8883 or 9001
MQTT_PORT=9001
MQTT_SUBSCRIBE="sub_channel"